@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", system-ui;
  height: 100vh;
  background: rgba(95, 169, 117, 0.6);

}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 1rem;
  display: flex;
  color: #5e7c12;
}

.wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-image: url("./assets/pexels-wdnet-235294.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;

}
main {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.box-container {
  display: flex;
  flex-direction: column;
  border-color: transparent;
  padding: 1rem;
  border-radius: .3rem;
  background: rgba(232, 169, 104, 0.8);
  background: linear-gradient(135deg, #2e8b57, rgba(154, 205, 50, 0.3));
  width: 35em;
  margin: 2rem 1rem;
}

.box {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  align-items: center;
  border-radius: .3rem;
  border: 2px solid;
  padding: 2rem;
  margin-bottom: 1rem;

}

.fruit-btn {
  padding: .2rem .5rem;
  margin-left: .4rem;
  margin-right: .4rem;
}

.reset, button[type="submit"] {
  align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
}
button[type="submit"] {
  align-self: flex-start;
}


.printed-name {
  font-weight: bold;
  flex-basis: 8rem;
}

.sub-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  & textarea {
    margin-bottom: 1rem;
    padding:.5rem;
    resize: none;
  }

  & label {
    flex: 1;
    display: flex;
    align-items: center;

    &:first-letter {
      text-transform: capitalize;
    }

    & input {
      margin-left: 0.8rem;
      flex: 1;
      padding: 0.8rem .5rem;
    }

    & input[type="checkbox"] {
      flex: 0;
      margin: 0;
      margin-right: 0.8rem;
    }
  }

  & select {
    align-self: flex-start;
    padding: .3rem;
  }

  .radio-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & label {
      margin-top: 1rem;
      margin-right: 1rem;
      flex: 0;
    }

    & input {
      margin-right: .2rem;
      margin-left: 0;
    }

  }

  .labels-inputs {
    margin-bottom: 1rem;

  }

  .text-before-input {
    flex-basis: 6rem;
  }
  .text-before-input:first-letter {
    text-transform: capitalize;
  }


  .delivery-frequency {
    display: flex;
    flex-direction: column;

    & :first-child {
      margin-bottom: 1rem;
    }

    & select {
      align-self: flex-start;
      background: none;
      padding: 0.5rem;
    }
  }

  .time-stack {
    display: flex;
  }

  .comments {
    display: flex;
    flex-direction: column;
  }

  button[type="submit"] {
    /*align-self: flex-start;*/
    /*padding: .2rem .4rem;*/
  }

  .check-box-span {
    order: 1;
    flex-basis: 100%;
  }
}

.box-positive {
  border-color: #0bda0b;
  border-width: 4px;

}
